.explo{
    background-color: #F1F1F1;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    

    &--txt{
        width: 70%;
        text-align: center;
        
    }
    &__title{
        padding-bottom: 0.5rem;
    }
}

.fonctionnement{
    padding-top: 3rem;

    & h2{
        padding-bottom: 1.5rem;
        margin-left: 2rem;
    }
}

.fonctionnement__list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fonctionnement__cards{

    background-color: $color-background1;
    width: 85%;
    height: 10vh;
    border-radius: 15px;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    @include fct-card-shadow;

    & i{
        color: gray;
    }

    &pink{
        background: $color-primary-opacity;
        width: 85%;
        height: 10vh;
        border-radius: 15px;
        margin-bottom: 1.5rem;
        display: flex;
        align-items: center;
        box-shadow: 0px 2px 15px 0px $color-shadow1;

        &--number{
            margin-right: 1rem;
            color: white;
            background-color: $color-primary;
            border-radius: 100%;
            height: 30px;
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: -1rem;

        }

        &--texte{
            margin-left: 3rem;
            font-weight: bold;
        }

        & i{
            color: $color-primary;
        }

    }

    &--number{
        margin-right: 1rem;
        color: white;
        background-color: $color-primary;
        border-radius: 100%;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -1rem;
    }
   
}

.fonctionnement__cards--texte{
    margin-left: 3rem;
    font-weight: bold;
}

.restaurants{
    background-color: $color-background1;
    height: auto; 

    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    & h2{
        padding-top: 2.5rem;
        padding-bottom: 1rem;
        margin-left: 1.5rem;
    }
}

.restaurants__cards{
    width: 90%;
    height: 35vh;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    background-color: white;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    @include restaurants-card-shadow;
    position: relative;

    &--image{
        width: 100%;
        height: 75%;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
    }

    &--text{
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
    }

    &--icone{
        margin-right: 1rem;
        font-size: 1.3em;
        position: absolute;
        right: 1rem;
       

        & :hover{
            background: $color-primary;
            background: $gradient-heart;
            background-clip: text;
            -webkit-background-clip: text;
            color:transparent;
            transition: 0.3s;
            font-weight: bold;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;
}
    }
    
}

.restaurants__cards__contenair--text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    
    
}

.restaurants__list a:hover{
     box-shadow: 0px 11px 14px 5px #B1B1B1;
     filter: brightness(115%);
     transform: scale(1.01);
     transition: 0.3s;
}

.restaurant__cards--new{
    background-color: $color-tertiary;
    color: darken($color-tertiary, 40%);
    font-weight: 600;
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: 0.6rem;
    border-radius: 3px;
    
}




/*MENU 1*/

.menu1__background{
    width: 100%;
    position: relative;

    &--img{
        height: 100%;
    }

    & img{
        height: 100%;
        object-fit: cover;
        z-index: 1;
        max-width: 100%;
    }


}

.menu1__list{
    height: 190vh;
    width: 100%;
    background-color: $color-background1;
    margin-top: -7rem;
    position: relative;
    border-radius: 25px 25px 0px 0px;
    -webkit-border-radius: 25px 25px 0px 0px;
    -moz-border-radius: 25px 25px 0px 0px;
    -ms-border-radius: 25px 25px 0px 0px;
    -o-border-radius: 25px 25px 0px 0px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.menu__list--titre{
    margin-bottom: 1.2rem;
    margin-top: 1rem;
    text-transform: uppercase;
    border-bottom: $color-tertiary 5px solid;
    width: fit-content;
    padding-bottom: 1em;
}

.menu1__background--titre{
    font-family: 'Shrikhand';
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu--icone
{
    font-size: 1.6em;
    

    & :hover{
        background: $color-primary;
        background: $gradient-heart;
        background-clip: text;
        -webkit-background-clip: text;
        color:transparent;
        transition: 0.5s;
        font-weight: bold;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
}
}

.menu__list__cards{
    background-color: white;
    height: 10vh;
    border-radius: 20px;
    overflow: hidden;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    align-items: center;
    @include menu-card-shadow;
    animation-name: slide-menu-cards;
    animation-duration: 2s;
    animation-iteration-count: 1;

    &--prix{
        font-size: 1.2em;
        font-weight: bold;
        margin-right: 1vh;
        margin-left: 1rem;
    }

    &--texte h2{
        font-size: 1.2em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &--texte p{
        font-weight: 100;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        
    }

    &--texte {
        margin-left: 1vh;
        line-height: 1.5em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
       
       
    }

    &:hover &--hover{
        margin-right: 0rem;

        &--icone{
            animation-name: rotate-icone;
            animation-duration: 0.9s;
            animation-iteration-count: 1;
        }
    }
}

.menu__list__cards--infos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;  
    white-space: nowrap;
    text-overflow: ellipsis;
}

.menu__list__cards--hover{
    background: $color-tertiary;
    color: white;
    cursor: pointer;
    height: 100%;
    width: 4rem;
    font-size: 1.5rem;
    margin-right: -4rem;
    transition-duration: 0.7s;
    border-radius: 0px 20px 20px 0px;
    -webkit-border-radius: 0px 20px 20px 0px;
    -moz-border-radius: 0px 20px 20px 0px;
    -ms-border-radius: 0px 20px 20px 0px;
    -o-border-radius: 0px 20px 20px 0px;
    @include flex-center;
    
}

.menu__entree__list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu__plat__list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu__dessert__list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu__bouton{
    @include flex-center;
}

/* MEDIA QUERIES TAB */

@media all and (min-width: 768px) and (max-width: 992px)
{
    .fonctionnement__cards--texte{
        @include fct__cards__responsive;
    }

    .fontionnement__cards--icone{
        font-size: 2em;
        margin-left: 5%;
    }

    .fonctionnement__cardspink--texte{
        @include fct__cards__responsive;
    }

    .fontionnement__cardspink--icone{
        font-size: 2em;
        margin-left: 4%;

    }

    .fonctionnement__cards, .fonctionnement__cardspink{
        width: 75%;
    }

    .fonctionnement h2, .restaurants h2{
        margin-left: 12%;
    }

    .restaurants__cards{
        width: 75%;
    }
}

/* MEDIA QUERIES DESKTOP */

@media all and (min-width: 992px)
{
    .fonctionnement__list{
        flex-direction: row;
        justify-content: space-around;
    }

    .fonctionnement__cards, .fonctionnement__cardspink{
        width: 25%;
    }
}