@mixin button {
    color: white;
    height: 6vh;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    box-shadow: 0px 2px 13px 1px rgba(195, 195, 195, 0.99);
    font-size: 0.9em;
    margin-top: 2rem;
}

@mixin button-hover {
    cursor: pointer;
    filter: brightness(115%);
    transform: scale(1.01);
    transition: 0.3s;
    box-shadow: 5px 11px 17px 5px rgba(195, 195, 195, 0.99);
}

@mixin fct-card-shadow {
    box-shadow: 0px 2px 15px 0px $color-shadow1;

}

@mixin restaurants-card-shadow {
    box-shadow: 0px 5px 17px 0px $color-shadow1;
}

@mixin menu-card-shadow {
    box-shadow: 0px 2px 15px 0px $color-shadow1;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Mixins Responsive design*/

@mixin fct__cards__responsive {
    margin-left: 15%;
    font-size: 1.5em;
}