$color-primary:#9356DC;
$color-secondary: #FF79DA;
$color-tertiary:#99E2D0;

$color-primary-opacity: rgba(147,86,220,0.2);

$color-shadow1:#D3D3D3;
$color-background1: #F2F2F2;

$gradient-button : linear-gradient(356deg,rgba(147,86,220,1) 5%, rgba(255,121,218,1) 100%);
$gradient-heart:linear-gradient(180deg, rgba(147,86,220,1) 32%, rgba(255,121,218,1) 97%);